/_ReSharper.VisualStudioComparisonTools/
/_UpgradeReport_Files/
/UpgradeLog*.XML
/*.5.1.ReSharper.user
/*.suo
/_VisualStudioComparisonTools/
/_VisualStudioComparisonToolsSetup/
/Backup/
/_VisualStudioComparisonToolsVSPackage/
/UpgradeLog.htm
/UpgradeLog3.htm
/*.sln.DotSettings.user
/Backup1/
/VisualStudioComparisonToolsVSPackage_2013/
